@mixin tablet-and-up {
  @media screen and (min-width: 769px) { @content; }
}
@mixin mobile-and-up {
  @media screen and (min-width: 601px) { @content; }
}
@mixin tablet-and-down  {
  @media screen and (max-width: 768px) { @content; }
}
@mixin mobile-only {
  @media screen and (max-width: 600px) { @content; }
}

.view {
  padding: 20px;
  background-color: rgb(36, 35, 35);
  position: absolute;
}

ul, li{
list-style: none;
padding: 0;
}

.title{
  margin-top: 50px;
}

.container{
display: flex;
justify-content: center;
align-items: center;
padding: 0 2rem;
background-repeat:no-repeat;
background-size:cover;
padding: 3rem 0;
}
.wrapper{
background: #3a3a3a;
padding: 2rem;
border-radius: 15px;
}
h1{
font-size: 1.1rem;
font-family: sans-serif;
}
h3,.about, .about-des, .milestone-title{
  color: rgb(212, 211, 211);
}

.time-des{
  color: rgb(206, 202, 202);
}
.sessions{
margin-top: 2rem;
border-radius: 12px;
position: relative;
}
li{
padding-bottom: 1.5rem;
border-left: 1px solid #303030;
position: relative;
padding-left: 20px;
margin-left: 10px;
&:last-child{
  border: 0px;
  padding-bottom: 0;
}
&:before{
  content: '';
  width: 15px;
  height: 15px;
  background: rgb(58, 57, 57);
  border: 1px solid #2c2c2c;
  box-shadow: 3px 3px 0px #202020;
  box-shadow: 3px 3px 0px #313131;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}
}

.time{
color: rgb(212, 211, 211);
font-family: 'Poppins', sans-serif;
font-weight: 500;
@include mobile-and-up{
  font-size: .9rem;
}
@include mobile-only{
  margin-bottom: .3rem;
  font-size: 0.85rem;
}

}
p{
color: #4f4f4f;
    font-family: sans-serif;
line-height: 1.5;
margin-top:0.4rem;
@include mobile-only{
  font-size: .9rem;
}
}

.about{
  font-size: 22px;
}